@import 'functions';

@mixin browse-icon($pic_url) {
	background: url($pic_url) no-repeat left top;
	height: 20px;
	padding-left: 20px;
}

$background: hsl(0, 0%, 100%);
$text-color: pick-contrast($background);

$base-color: hsl(194, 100%, 50%);
$button-color: lighten($base-color, 20%);
$button-color-hover: lighten($button-color, 10%);

body {
	width: 100%;
	height: 100%;
	background-color: $background;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: $text-color;
	overflow-x: hidden;
}

.content {
	position: absolute;
	top: 35px;
	width: 100%;
	min-height: 700px;
	padding: 5px;
	overflow-x: auto;
}

.navbar {
	background-color: $base-color;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navbar-item {
	background-color: $button-color;
	display: inline-block;
	text-align: center;
	border-radius: 3px;

	.left {
		float: left
	}

	.right {
		float: right;
	}
}

.navbar-list {
	margin-left: unset;
	display: block;
	width: 100%;
	list-style-type: none;
	margin: 5px;
}

.navbar-link {
	display: block;
	padding: 7px 5px;
	text-decoration: none;
	color: black;
}

.logo {
	float: left;
	text-align: center;
	padding: 5px 7px;
	margin: 3px 5px 0 0;
}

.logo-image {
	height: 35px;
	width: 35px;
}

.navbar-item:hover {
	background-color: $button-color-hover;
}

.browse-icon {
	width: 25px;
	height: 25px;
	margin: -3px;
}

.code {
	padding: 10px;
}

.code > span {
	font-family: monospace;
	color: black;
}

.code > .comment {
	color: #008000;
}

.code > .string {
	color: #a31515;
}

.code > .keyword {
	color: #0000ff;
}

ul.file-browser {
	list-style-type: none;
	padding-left: unset;
}

li.file {
	@include browse-icon('/img/text-file-16.png');
}

li.dir {
	@include browse-icon('/img/folder-16.png');
}
